*
{
    box-sizing: border-box;
}

body
{

    margin: 0;
	overflow: auto;
    background-color: #404258;
    background: url(./icon/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container
{
	position: relative;
	display: flex;
    gap: 25px;
	align-items: center;
	justify-content: center;
    flex-direction: column;
	width: 100%;
	height: 100%;
    color: #ffffff;
}

.box
{
    position: relative;
    top: 32px;
	display: flex;
    gap: 32px;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 140, 255, 0.411);
	border-radius: 15px 15px 15px 15px;
}

.avatar
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border: 2px solid #fff;
    box-shadow: red 0px 2px 8px 0px;
}

.name
{
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #ff99cc;
    color: #fff;
    padding: 0.3em 0.6em;
    font-size: 24px;
    border: 2px solid #fffa;
    font-family: monospace;
}

.content
{
	display: flex;
    gap: 25px;
}

.icon
{
    width: 32px;
    height: 32px;
}

.footer
{
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.dark-mode{
    background: url(./icon/cropped-3360-2100-1313209.jpg) no-repeat center center fixed;
    background-size: cover;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}